* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

#input-field {
  padding: 4px;
  border-radius: 4px;
}

.todo-item {
  padding: 0.5rem 0;

  & > label {
    padding-left: 0.5rem;
  }

  &.active {
    font-weight: bold;
  }

  &.done {
    text-decoration: line-through;
  }
}
