* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: hsl(0 0% 98%);
}

#app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

#wrapper {
  width: 20rem;
}

#input-field {
  padding: 4px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

#todo-list-view {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-top: 0.2rem;
  gap: 0.6rem;
}

.todo-item {
  & > label {
    padding-left: 0.5rem;
  }

  &.active {
    font-weight: normal;
  }

  &.done {
    text-decoration: line-through;
    color: grey;
  }
}

#filter-box {
  display: flex;
  gap: 1rem;
  border: 1px solid hsl(0 0% 80%);
  border-radius: 4px;
  padding: 4px;
  margin: 0.5rem 0;
  & label {
    padding-left: 0.2rem;
  }
}
